{{ template "header.html" . }}
<main>
<form action="/savelink" method="POST" class="link">
<input type="hidden" name="CSRF" value="{{ .SaveCSRF }}">
<p><input tabindex=1 type="text" name="url" autocomplete=off> - url
<p><input tabindex=1 type="text" name="title" autocomplete=off> - title
<p>
<textarea tabindex=1 name="summary">
</textarea>
<p><input tabindex=1 type="text" name="tags" autocomplete=off> - tags
<p><input tabindex=1 type="text" name="source" autocomplete=off> - source
<p><input tabindex=1 type="submit" name="submit" value="submit">
</form>
</main>
</body>
</html>
