{{ template "header.html" . }}
<main>
{{ if .PageInfo }}
<div class="link">
<div class="summary">
<p>{{ .PageInfo }}
</div>
</div>
{{ end }}
{{ $csrf := .SaveCSRF }}
{{ range .Links }}
<article class="link">
<p class="title">{{ .Title }}
<p class="url"><a href="{{ .URL }}">{{ .URL }}</a> [<a href="/site/{{ .Site }}">{{ .Site }}</a>]
<p>{{ .Posted.Format "2006-01-02 15:04" }}
<p class="tags">tags: 
{{ range .Tags }}
<a class="tag" href="/tag/{{ . }}">{{ . }}</a>
{{ end }}
<div class="summary">
<p>
{{ .Summary }}
{{ if .Source }}
<p>source: <a href="/source/{{ .Source }}">{{ .Source }}</a>
{{ end }}
</div>
<div class="tail">
<a href="/l/{{ .ID }}">#</a>
{{ if $csrf }}
<span style="margin-left:0.75em"><a href="/edit/{{ .ID }}">edit</a>
</span>
{{ end }}
</div>
</article>
{{ end }}
</main>
</body>
</html>
