body {
	background: #121;
	font-size: 18px;
	font-family: monospace;
	margin: 2em;
	word-break: break-word;
}
:focus {
	outline: 2px solid #aea;
}
a {
	color: #aea;
}
main, header {
	max-width: 1260px;
	margin: auto;
}
header {
	margin-bottom: 2em;
}
header form {
	display: inline;
}
header span, header form {
	margin-right: 1em;
	white-space: nowrap;
}
blockquote {
	margin-left: 1.5em;
	padding-left: 0.5em;
	margin-right: 2em;
	border-left: 1px solid #474;
}
.link {
	padding: 0em;
	color: #8d8;
	background: #121;
	border: 2px solid #474;
	margin-bottom: 2em;
}

article.link p {
	margin: 0;
	margin-left: 2em;
	margin-right: 2em;
}
.link .title {
	font-size: 1.5em;
	margin-left: 0em;
	margin-bottom: 0.5em;
}
.link .summary p {
	margin-top: 1em;
}
.link .tail {
	margin-top: 1em;
}

form.link {
	padding: 1em;
	padding-top: 0em;
	padding-bottom: 0em;
	font-size: 1.0em;
	margin: 0em;
	border: 2px solid #aea;
}
tr.link td {
	padding: 1em;
	font-size: 1.5em;
	margin: 1em;
	border: 2px solid #aea;
}
input, textarea {
	background: #121;
	color: #aea;
	font-size: 0.9em;
	font-family: monospace;
	border: 2px solid #474;
}
form.link input {
	width: 85%;
}
form.link textarea {
	height: 12em;
	width: 85%;
}
@media screen and (max-width: 740px) {
	body {
		margin: 0.5em;
	}
	header {
		margin: 1.0em;
		line-height: 2;
	}
	header form {
		display: block;
	}
	.link .title {
		font-size: 1.3em;
	}
	article.link p {
		margin-left: 1em;
		margin-right: 1em;
	}
	blockquote {
		margin-left: 0.5em;
		margin-right: 1.0em;
	}
	form.link input, form.link textarea {
		width: 100%;
	}
}
